body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #F3F3F3;
}

.sidebar {
    width: 240px;
    height: 100%;
    background-color: #709FB0;
    color: #fff;
    padding: 35px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
    position: fixed;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    justify-content: center;
}

.logo img {
    width: 20%;
    padding: 10px;
}

.add-button {
    font-size: 1.5em;
    margin-right: 10px;
    background: none;
    border: none;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s; 
}

nav ul li i {
    margin-right: 10px;
    font-size: 1.2em; 
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1em;
    display: flex;
    align-items: center; 
    flex-grow: 1;
    padding: 10px;
}

nav ul li:hover {
    background-color: #B4D1DB;
    padding-left: 10px;
}

nav ul li a:hover {
    color: #fff;
}


.user-info {
    padding-top: 230px;
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* dashboard */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 320px; 
    margin-right: 20px; 
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #343a40;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.stat-card span{
    color: #167d18;
    padding-left: 10px;
}

.stat-card {
    margin: 10px;
    max-width: calc(25% - 20px);
    background-color: #fff;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 23%;
}


.stat-card p {
    font-size: 18px;
    margin: 10px 0 0;
}

.stat-card i {
    font-size: 2em;
    margin-bottom: 10px; 
    color: #709FB0; 
}


.stat-card h2 {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

/* table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #f4f4f4;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    white-space: nowrap; /* Prevent wrapping in header cells */
}

.card-product {
    background-color: white;
    margin: 15px 0;
    /* width: 95%; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

#penjualanChart{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 20px 10px;
}

.table-responsive {
    overflow-x: auto;
    flex: 1;
    margin-right: 20px; 
}

.table-navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.nav-button {
    cursor: pointer;
    background-color: #709FB0;
    border: none;
    padding: 5px 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    margin: 10px 5px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #244a58;
}

.nav-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.nav-button:disabled:hover {
    background-color: #ccc;
}
.pemasukan-row {
    background-color: #e0f7e0; /* Light green */
}
.pengeluaran-row {
    background-color: #f7e0e0; /* Light red */
}
.buttons button.active {
    font-weight: bold;
}

/* analytic */
.charts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-pie{
    display: flex;
    height: 200px;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.row {
    display: flex;
    justify-content: space-between
}

.chart-item {
    flex: 1 1 calc(50% - 10px); /* Adjust width to ensure two charts per row with spacing */
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 20px;
}

.chart-item h2 {
    margin-left: 10px;
}
canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}


/* detail produk */
.product-container {
    display: flex;
    align-items: flex-start;
}

.product-image {
    margin-right: 20px;
}

.product-details {
    flex: 1;
}